.Bar-container {
  background-color: white;
  width: 98vw;
  box-sizing: border-box;
  margin: auto;
  text-align: start;
  font-family: Roboto, sans-serif;
  border-radius: 5px;
  padding: 15px;
}
.Bar-container_chart {
  width: 100%;
  box-sizing: border-box;
}
.Bar-container_heading {
  display: flex;
  justify-content: space-between;
}
